@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #f8fafc;
  color: #0f172a;
}

* {
  -webkit-tap-highlight-color: transparent;
}
